@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{
    background:#6e4daaa8;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

    
  }
  
  header{
    display:flex;
    align-items:center;
    flex-direction:row;
    justify-content:space-between;
    height: 10px;
    padding: 2rem;
    
    
  } 
 
  .menu a{
    color: rgb(255, 251, 251);
    text-decoration: none;
    
    
  }
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    

 }
 nav ul{
    list-style: none;
    display: flex;
    padding: 5rem;
    
 }
  nav ul li{
    letter-spacing: 3px;
    margin-left: 32px;
 }
 
 
  
   .img{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
  }
  header img{
    margin-left:15px;
    width:45%;
  } 
  
  main{
    text-align:center;
  }
  
  .descSite{
    /*CoresEstilos*/
    background-color:#6e4daa73;
    border-radius:35px;
    padding:1%;
    color:#F2EBFB;
    /*Posicionamento*/
    margin-left:6%;
    margin-right:6%;
    margin-bottom:3%;
    margin-top:2%;
  }
  .gatinhos{
    /*Posicionamento*/
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    /*CoresEstilos*/
  }
  
  .gatinhos img{
    width:15vw;
    border-radius: 50%;
  }
  
  .gatinhoUm, .gatinhoDois, .gatinhoTres{
    /*Cores*/
    background-color:#6e4daa73;
    border-radius:10px;
    padding:2%;
    color:#F2EBFB;
    /*Posicionamento*/
    margin-left:1px;
    margin-right:1px;
  }
  
 
  
  .menu a:hover{
      cursor:pointer;
      border-bottom: 2px solid #6e4daad5;
  }
  .btnmenu a{
    color: white;
    text-decoration: none;
  }
  .btnmenu{
    background-color:#5c37a1;
    color:#F2EBFB;
    border: 2px #f2ebfb79 solid;
    border-radius: 15px;
    width: 115px;
    height: 35px;
    margin-left: -50px;
    margin-right: 55px;
    font-family: 'Poppins', sans-serif;
    

  }
  
  .botao{
    background-color:#5c37a1;
    color:#F2EBFB;
    border: 3px #f2ebfb79 solid;
    border-radius: 15px;
    width: 150px;
    height: 30px;
    
  }
  .botao:hover{
    background-color:#F2EBFB;
    color:#5c37a1;
    border: 2px #5c37a177; solid;
    border-radius: 15px;
    width: 150px;
    height: 30px;
    cursor: pointer;

  }

  /*footer*/
.footer{
  margin: 0;
  margin-top: 15%;
  padding: 40px 0;
  background-color: #6e4daa73;
  

}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
 
}
.footer .social a{
  color: white;
  font-size: 24px;
  border: 1px solid grey;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}
.footer .social a:hover{
  opacity: 0.9;
}
.footer ul{
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li a{
  color: white;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li{
  display: inline-block;
  padding: 0 15px;

}
.footer ul li a:hover{
  opacity: 2;
}
.footer .copyright{
  margin-top: 15px;
  text-align: center;
  font-size: 13px; 
  color: #aaa;
}
#div-fixa{
  position: fixed;
  bottom: 20px;
  margin: 0 20px;
  background-color:#6e4daa;
  width: 230px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s all;
}
#div-fixa.shrink{
  width: 50px;
  transition: 0.5s all;
  overflow: hidden;
}
#div-fixa img{
  width: 50px;
  height: 50px;
}
#div-fixa a{
  text-decoration: none;
}
#div-fixa a .flex-itens{
  display: flex;
  align-items: center;
}
#div-fixa a .flex-itens span{
  display: block;
  color: rgb(238, 224, 224);
  font-weight: bold;
  margin-left: 5px;
  min-width: 170px;
  font-size: 18px;
  opacity: 0;
}
#div-fixa a .flex-itens span.aparecer{
  transition: 0.5s all;
  opacity: 1;

}
.flutuar{
    animation-name: flutuar ;
    animation-duration: 0.7s; 
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes flutuar{
  from{
    transform:translate3d(0,0,0) ;
    filter: brightness(100%);
  }
  to{
    transform:translate3d(0,-15px,0) ;
    filter: brightness(130%);
  }
}